<!--NGX BootStrap Carousal-->
<carousel
  slide
  [(activeSlide)]="activeSlideIndex"
  [isAnimated]="true"
  [showIndicators]="false"
  *ngIf="!isLoading"
  [pauseOnFocus]="false"
>
  <div class="carousel-inner" style="height: 100%">
    <ng-container>
      <ng-container *ngFor="let chunk of chunkedProducts">
        <slide class="slide">
          <div class="card-grid">
            <div *ngFor="let product of chunk" class="card">
              <img [src]="product.image" alt="product_img" />
              <div class="info">
                <h2 class="name">{{ product.name }}</h2>
                <p class="price">
                  Price:
                  <strong style="color: black">${{ product.price }} </strong>/
                  {{ product.uom }}
                </p>
              </div>
            </div>
          </div>
        </slide>
      </ng-container>
    </ng-container>
  </div>
</carousel>

<div *ngIf="isLoading" class="loading-block">
  <h1>Please Wait....</h1>
</div>
