.dashboard-container {
  display: flex;
  align-items: flex-start;
}

.category-column {
  width: 33.3%;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.category-column:not(:last-child) {
  border-right: 2px solid #c3c3c3;
  padding-right: 5px;
}

.dashboard-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.dashboard-header {
  font-size: 32px;
  color: #333;
}

.namaste-img {
  height: 40px;
  width: auto;
}
