<section *ngIf="!isProductsDataNotFetched">
  <!--DashBoard Header-->
  <div class="dashboard-header-container">
    <h1 class="dashboard-header">{{ dashBoardTitle }}</h1>
    <img src="/assets/images/namaste.svg" class="namaste-img" />
  </div>
  <!--DashBoard Body-->
  <div class="dashboard-container">
    <div class="category-column" #categoryColumn>
      <!-- <app-fruits [fruitsData]="fruitsData"></app-fruits> -->
      <main>
        <h1>Fruits 🍎</h1>
        <!--Carousal Component-->
        <app-carousel
          [productData]="fruitsData"
          [categoryName]="'Fruits'"
          *ngIf="fruitsData"
        ></app-carousel>
      </main>
      <div class="separator-line"></div>
    </div>
    <div class="category-column">
      <!-- <app-vegetables [vegetablesData]="vegetablesData"></app-vegetables> -->
      <main>
        <h1>Vegetables 🥦</h1>
        <!--Carousal Component-->
        <app-carousel
          [productData]="vegetablesData"
          [categoryName]="'Vegetables'"
          *ngIf="vegetablesData"
        ></app-carousel>
      </main>
      <div class="separator-line"></div>
    </div>
    <div class="category-column">
      <!-- <app-herbs [herbsAndGreensData]="herbsAndGreensData"></app-herbs> -->
      <main>
        <h1>Herbs And Greens 🌿</h1>
        <!-- Carousal Component-->
        <app-carousel
          [productData]="herbsAndGreensData"
          [categoryName]="'Herbs'"
          *ngIf="herbsAndGreensData"
        ></app-carousel>
      </main>
    </div>
  </div>
</section>

<div class="loading-container" *ngIf="isProductsDataNotFetched && !errorFlag">
  <div class="spinner"></div>
  <h1>Please wait while we fetch the data...</h1>
</div>

<div class="error-container" *ngIf="errorFlag">
  <h1>Oops! Something went wrong while fetching the data.</h1>
  <h3>{{ errorMessage }}</h3>
  <!-- You can add a button for retrying or other actions if needed -->
</div>
